body {
  padding-top: 50px;
}

#home {
  color: white;
  background-image: url("../images/1ZSNQTSXVM_970x754.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#home h1 {
   font-size: 64px;
   font-family: Parisienne, serif;
}

#about p {
  font-size: 1.5em;
}

#contact h3 {
  margin-top: 0;
}

#contact p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-fullscreen-vertical {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.flex-whitespace {
  flex-grow: 1;
}

.row + .row {
  padding-top: 15px;
}

@media (max-width: 1200px) {
  .row [class^="col-lg-"] + [class^="col-lg-"] {
    padding-top: 15px;
  }
}

@media (max-width: 992px) {
  .row [class^="col-md-"] + [class^="col-md-"] {
    padding-top: 15px;
  }
}

@media (max-width: 768px) {
  .row [class^="col-sm-"] + [class^="col-sm-"] {
    padding-top: 15px;
  }
}